<p-chart type="pie" [data]="data" [style]="{'width': '50%'}" height="500px"></p-chart>
<!-- [options]="chartOptions"   -->
<!-- <p-table [columns]="cols" [value]="numbers" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table> -->
