<div class="table-container">
    <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
            {{size}}
        </option>
    </select>
    <table class="table">
        <thead>
            <tr>
                <th>Postcard ID</th>
                <th>To member</th>
                <th>To country</th>
                <th>Sent</th>
                <th>Received</th>
                <th>Img</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of postcards | paginate:{
                itemsPerPage:tableSize,
                currentPage: page,
                totalItems: count } ; let i = index ">
                <td>{{post.postcardId}}</td>
                <td>{{post.toMember}}</td>
                <td>{{post.toCountry}}</td>
                <td>{{post.sentDate}}</td>
                <td>{{post.receivedDate}}</td>
                <td>{{post.img}}</td>
            </tr>
        </tbody>
        <tfoot>


            <!-- | paginate: {
                itemsPerPage:tableSize
                currentPage: page
                totalItems: count } ; let i = index -->
            <!-- <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
              <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
              <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
          </nav> -->
        </tfoot>
    </table>
    <pagination-controls 
    previousLabel="Prev" 
    nextLabel="Next" 
    (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>