<div class="table-container">

<table class="table">
    <thead>
        <tr>
            <th>Postcard ID</th>
            <th>To member</th>
            <th>To country</th>
            <th>Sent</th>
            <th>Received</th>
            <th>Img</th>
        </tr>
    </thead>
    <tbody *ngIf="postcards">
        <td>{{postcards.postcardId}}</td>
        <td>{{postcards.toMember}}</td> 
        <td>{{postcards.toCountry}}</td>
        <td>{{postcards.receivedDate}}</td> 
        <td>{{postcards.img}}</td>

    </tbody>
    <tfoot>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
              <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
              <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
          </nav>
    </tfoot>
</table>

<!-- <p-table [value]="postcards" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{postcards.code}}</td>
            <td>{{postcards.name}}</td>
            <td>{{postcards.category}}</td>
            <td>{{postcards.quantity}}</td>
        </tr>
    </ng-template>
</p-table> -->

</div>