<div class="container">
    <section>
        <div class="columns">
        <div class="column">
           <p><i class="fa-solid fa-language"></i>Language</p>
           <p><i class="fa-solid fa-cake-candles"></i>DOB</p>
        </div>
           <div class="column">
            <p class="options"><i class="fa-solid fa-person-half-dress"></i> Gender</p>
            <p class="options"><i class="fa-regular fa-link"></i></p>
           </div>
           <div class="column">
           <p><i class="fa-solid fa-arrows-rotate"></i>direct swaps</p>
        </div>
    </div>
    </section>
    <section class="section">
        <h1 class="title">About Username...</h1>
        <button class="button is-info">Edit my profile</button>
    </section>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, 
        fuga? Mollitia sunt consequatur consectetur tempore, asperiores 
        perspiciatis. Commodi fuga, voluptatibus saepe dolorum itaque, 
        ea nesciunt aliquid, voluptatem necessitatibus totam optio.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Praesentium exercitationem temporibus, dicta recusandae ea aut. 
        Iusto dolor, accusamus ipsa dolorem possimus hic! Veritatis 
        blanditiis a nisi, harum numquam ratione culpa.</p>
    </div>
