#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 20em .95fr;
  }

  .button{
    margin: .5em 2em;

  }

  .box{
    margin-bottom: .4em;
  }

  #item{
    text-decoration: line-through;
  }