<div class="container">


  <nav class="navbar" role="navigation" aria-label="main navigation">


    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Postcards
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Send a postcard
            </a>
            <a class="navbar-item">
              Register a postcard
            </a>
            <a class="navbar-item">
              Traveling
            </a>
            <!-- <hr class="navbar-divider"> -->
            <a class="navbar-item">
              Sent
            </a>
            <a class="navbar-item">
              Received
            </a>
            <a class="navbar-item">
              Wall
            </a>
            <a class="navbar-item">
              Stats
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Explore
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Countries
            </a>
            <a class="navbar-item">
              Gallery
            </a>
            <a class="navbar-item">
              Rankings
            </a>
            <!-- <hr class="navbar-divider"> -->
            <a class="navbar-item">
              Stats
            </a>
            <a class="navbar-item">
              Search
            </a>
            <a class="navbar-item">
              Meetups
            </a>
            <a class="navbar-item">
              Postal Moniter
            </a>
            <a class="navbar-item">
              Other Links
            </a>
          </div>
        </div>
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="../../assets/postcrossinglogo.png" width="550em" height="208">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <a class="navbar-item">
          Blog
        </a>
        <a class="navbar-item">
          Forum
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Help
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              F.A.Q.
            </a>
            <a class="navbar-item">
              Contact
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            About
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Postcrossing
            </a>
            <a class="navbar-item">
              Community Guidelines
            </a>
            <a class="navbar-item">
              Support this project
            </a>
            <a class="navbar-item">
              Logo Usage Guidelines
            </a>
            <a class="navbar-item">
              Advertising
            </a>
            <a class="navbar-item">
              Ecological Footprint
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <!-- <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </nav>

  <button class="button is-link is-rounded is-focused" routerLink="/profile">Profile</button>
  <div class="notification is-primary">
    Welcome to <strong>Postcrossing</strong>
  </div>

  <!-- tiles -->
  <!-- first row -->
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"> Sent</p>
        <p class="title"> Received</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="subtitle">Traveling: 3 out of 7 postcards</p>
        <progress class="progress is-warning" value="35" max="100" width="50%">75%</progress>
      </article>
    </div>
  </div>
  <!-- second row -->
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box">
            <i class="fa-regular fa-inbox-out"></i>
            <p class="subtitle">Send a postcard</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-4by3">
              <i class="fa-light fa-inbox-in"></i>
            </figure>
            <p class="subtitle">Register a postcard</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-4by3">
              <i class="fa-light fa-inbox-out"></i>
            </figure>
            <p class="subtitle">Traveling postcards</p>
            <ul>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- third row -->
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Recently on the blog</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Did you Know?</p>
      </article>
    </div>
  </div>
  <!-- fourth row -->
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What's Happening Now?</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Postcrossing in Numbers</p>
      </article>
    </div>
  </div>
  <!-- fifth row -->
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Recent Postcards</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Support Postcrossing</p>
      </article>
    </div>
  </div>
</div>