<div class="container">
<section class="hero is-link is-medium">
    <div class="hero-body">
    <figure class="media-left">
            <p class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
      <header class="title has-text-centered">
        Username
      </header>
      <!-- <p class="subtitle">
        Link subtitle
      </p> -->
    </div>
  </section>
  <section>
    <div class="tabs is-centered">
        <ul>
          <li class="is-active" routerLink="about"><a>About</a></li>
          <li><a>Sent</a></li>
          <li><a>Received</a></li>
          <li><a>Wall</a></li>
          <li><a>Map</a></li>
          <li><a>Stats</a></li>
        </ul>
      </div>
  </section>
</div>