<div class="container">
  <section class="hero is-link is-medium">
    <div class="hero-body">
      <div class="columns">
        <div class="column">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
        </div>
        <div class="column">
        <header class="title has-text-centered">
          Username
        </header>
        <p><i class="fa-solid fa-users"></i> Date Joined</p>
        <p><i class="fa-solid fa-eye"></i> Last seen</p>
      </div>
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">sent</p>
              <p class="title">13</p>
              <p class="heading">received</p>
              <p class="title">10</p>
            </div>
          </div>
        </nav>
        </div>
        <!-- <p class="subtitle">
        Link subtitle
      </p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="tabs is-centered">
      <ul>
        <li class="is-active"><a routerLink="about">About</a></li>
        <li><a routerLink="sent">Sent</a></li>
        <li><a routerLink="received">Received</a></li>
        <li><a routerLink="wall">Wall</a></li>
        <li><a routerLink="map">Map</a></li>
        <li><a routerLink="stats">Stats</a></li>
      </ul>
    </div>
  </section>
  <app-about></app-about>
</div>