<div class="container">
<section class="hero is-link is-medium">
    <div class="hero-body">
    <figure class="media-left">
            <p class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
      <header class="title has-text-centered">
        Username
      </header>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">sent</p>
            <p class="title">13</p>
            <p class="heading">received</p>
            <p class="title">10</p>
          </div>
        </div>
    </nav>
      <!-- <p class="subtitle">
        Link subtitle
      </p> -->
    </div>
  </section>
  <section>
    <div class="tabs is-centered">
        <ul>
          <li class="is-active" routerLink="/about"><a>About</a></li>
          <li routerLink="/sent"><a>Sent</a></li>
          <li routerLink="/received"><a>Received</a></li>
          <li routerLink="/wall"><a>Wall</a></li>
          <li routerLink="/map"><a>Map</a></li>
          <li routerLink="/stats"><a>Stats</a></li>
        </ul>
      </div>
  </section>
</div>